<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @test_case.name %>
</p>

<p>
  <b>Title:</b>
  <%= @test_case.title %>
</p>

<p>
  <b>Description:</b>
  <%= @test_case.description %>
</p>


<%= link_to 'Edit', edit_test_case_path(@test_case) %> |
<%= link_to 'Back', test_cases_path %>
